# Core framework
django==5.0.9

# Для работы с изображениями (логи, аватарки тренеров, фото зала)
Pillow==10.3.0

# Для переменных окружения и безопасности
python-decouple==3.8
python-dotenv==1.0.1

# Для работы с админкой и формами (доп. стили)
django-crispy-forms==2.1
crispy-bootstrap5==0.7

# Для кеширования и оптимизации (опционально)
django-redis==5.4.0

# Для работы с БД (стандартно SQLite, но для продакшена лучше PostgreSQL)
psycopg2-binary==2.9.9  # PostgreSQL (закомментируйте если используете SQLite)

# Для логирования и отладки (только для разработки)
django-debug-toolbar==4.3.0